/* ELEMENT SPECIFIC STYLING */

body {
    background-color: #00AAFF;
}

h1, h2, p, ul, label {
    color: white;
    padding: 5px 10px 3px;
}

a {
    color: #114b5f;
    padding: 10px;
    margin: 2px;
}

label {
    color: white;
    padding-left: 15px;
}

/* CLASS SPECIFIC STYLING */

.btn {
    margin-left: 20px;
}

.add-btn {
    margin-left: 10px;

.action-btn {
    margin-top: 20px;
    margin-left: 110px;
}

.bookinfo {
    font-weight: bold;
    font-size: 1.5rem;
    color: #FFD700;
}

.book {
    font-weight: bold;
}