<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Book</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">

</head>
<body>

    <br>
    <h2>Add a new book by filling the info below!</h2>
    <br>
    <form action="" method="POST">
        <table>

        <tr>
        <td><label>Book Name</label></td>
        <td><input type="text" name="title"></td>
        </tr>

        <tr>
        <td><label>Book Author</label></td>
        <td><input type="text" name="author"></td>
        </tr>

        <tr>
        <td><label>Rating</label></td>
        <td><input type="text" name="rating"></td>
        </tr>

        </table>


        <a href="//">
        <button class="btn btn-warning btn-lg action-btn" type="submit">Add Book</button>
        </a>


    </form>
</body>
</html>